html, body {
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p {
color: white;
}
.btn-primary:active{
    background-color: transparent;
}
body {
    background-color: black;
}
#lighttheme {
    z-index: 9999999999;
    position: absolute;
    top: 100px;
    left: 30px;
}
#lighttheme  a i{
    font-size: 30px;
    color: white;
}
/* header ====================================================== */
body .one {
    z-index: 999999999;
    color: #e6ebff;
    position: fixed;
    top: 75px;
    right: 20px;
    background-color: #0D1326;
    padding: 25px;
    border-radius: 50%;
    opacity: 0.5;
    cursor: pointer;
}
header {
    background-color: black;
    padding: 0px;
    transition: all 0.4s ease 0s;
    height: 90px;
    display: grid;
    align-items: center;
    box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
}
header.nav-fixed {
    padding: 0px;
    height: 70px;
    border-bottom: none;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%)
}
@media only screen and (max-width: 991px) {
    header {
        height: auto;
        padding: 14px 0;
    }
}
@media only screen and (max-width: 991px){
    header.nav-fixed {
        height: auto;
        padding: 4px 0;
    }
}

.navbar {
    z-index: 99990;
}
.navbar-dark .navbar-nav .active > .nav-link {
    color: #dc4f72;
}
.navbar-dark .navbar-nav .show>.nav-link {
    color: black;
}
#site-header .navbar-dark .navbar-nav .home:hover {
    color:#dc4f72;
}
.navbar-dark .navbar-nav .nav-link:focus {
    color: black;
}
.navbar-dark .navbar-nav .nav-link:after {
    content: "";
    width: 0;
    height: 3px;
    background-color: #dc4f72;
    display: block;
    transition: all 0.5s;
}
.navbar-dark .navbar-nav .nav-link:hover:after {
    width: 20px;
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: white;
    cursor: pointer;
}
header .navbar-toggler {
    background-color: #dc4f72;
    color: white;
}
.navbar-dark .navbar-brand {
    color: #dc4f72;
    font-size: 25px;
    font-weight: bold;
}.navbar-dark .navbar-brand:hover {
    color: #dc4f72
}
#portnavbar .nav-item {
    padding-right: 1.5rem;
}
#portnavbar .dropdown-item:after {
    content: "";
    width: 0;
    height: 2px;
    background-color: #dc4f72;
    display: block;
    transition: all 0.5s;
}
#portnavbar .dropdown-item:hover:after {
    width: 20px;
}
#portnavbar .dropdown-item:hover {
    color: #dc4f72;
    background-color: black;
}
.dropdown-item {
    padding: 0.5rem 1.5rem;
}
.dropdown-menu {
    left: -40px;
    border-radius: 25px;
    width: 11rem;
}
.button1{
    color: #dc4f72;
    font-weight: bold;
    padding: 14px 28px;
    transition: all .5s;
    border: 1px solid #dc4f72;
    background-color:white;
    border-radius: 5px;
}
.button1:hover {
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
}
.button1:focus {
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
    box-shadow: 0 0 0 0.2rem #dc4f7271;
}
.aside-wrapper {
    position: absolute;
    right: 0;
    top: 0;
}
.navbar_icon {
    color: white;
}
.navbar_icon:focus {
    border: 1px solid black
}
.navbar-dark .navbar-toggler:focus {
    color: rgba(255,255,255,.5);
    border-color: rgb(0 0 0);    
}
/* Sidebar =========================================================== */
.aside-wrapper {
    top: 70px;
    right: 0;
    text-align: center;
    padding: 0px 20px;
    background: #0D1326;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
    font-size: 15px;
    z-index: 99; 
    position: fixed;  
}
.aside-wrapper a {
    color: #a0a5b6;
    transition: all 0.5s;
}
.aside-wrapper a:hover {
    color: white;
    text-decoration: none;
}

.aside-wrapper li{
    list-style: none;
    margin-bottom: 45px;
    margin-top: 35px;
}
.aside-wrapper span {
    color: transparent;
    padding: 25px;
    border-radius: 50%;
    background-color: transparent;
    text-align: center;
}
/* Carousel ============================================================ */
.carousel {
    background-color: black;
    margin-top: 80px;
    background-image: linear-gradient(to left, black, rgba(0, 0, 0, 0.5)), url(../image/banner.jpg);
    background-size: cover;
}
.carousel h1, p{
    color: white;
}
.card {
    border: none;
    background-color: transparent;
}
.carousel .card img {
    transform: rotate(180deg);
}
.carousel .btn-primary {
    color: #dc4f72;
    font-weight: bold;
    padding: 16px 32px;
    transition: all .5s;
    border: 1px solid #dc4f72;
    background-color:white;
    border-radius: 5px;
}
.carousel .btn-primary:hover {
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
}
.carousel .btn-primary:focus {
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
    box-shadow: 0 0 0 0.2rem #dc4f7271;
}
.carousel .btn-primary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
    box-shadow: 0 0 0 0.2rem #dc4f7271;
}
.carousel .btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

/* why =====================================================================*/
.title {
    margin-top: 50px;
    padding: 0 100px;
}
.title h5 {
    color: #dc4f72;
}
.card-deck {
    margin-top: 50px;
}
.why .card-deck .card-body {
    background-color: #f7f9fc;
    border: 1px solid #f7f9fc;
    border-radius: 6px;
    transition: all 0.5s;
}
.why .card-deck .card-body:hover {
    background-color: white;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
    transform: translateY(-16px);
    cursor: pointer;
}
.card-body h5 {
    padding-top: 15px;
    font-weight:bold;
}
#why1 .card-body a{
    text-decoration: none;
}
#why1 .card-body a h5{
    color: #0D1326;
}
/* About ================================================================== */
.about {
    background-color:black;
    background-size: cover;
}
.about .card {
    padding-top: 30px;
}
.about .card img {
    width: 100%;
    transform: rotate(0);
    border-radius: 6px;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    transition: all 0.5s;
}
.about .card img:hover{
    transform: translateY(-16px)
}
.about h5 {
    color: #dc4f72;
    font-weight: normal;
}
.about p {
    padding: 15px 0;
}
.about .card-body .btn-primary{
    background-color: #dc4f72;
    color: white;
    transition: all 0.5s;
    border-color: #dc4f72;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    padding: 15px 30px;
    font-weight: bold;
}
.about .card-body .btn-primary:hover {
    background-color: #dc4f4f;
    color: white;
}
.about .btn-primary:not(:disabled):not(.disabled):active {
    background-color: #dc4f72;
    border-color: #dc4f72;
    box-shadow: 0 0 0 0.2rem rgba(255, 38, 38, 0.5);
}
.about .card-body .btn-primary:focus {
    background-color: #dc4f4f;
    box-shadow: 0 0 0 0.2rem rgba(255, 38, 38, 0.5);
}
.about .btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

/* number ==================================================================== */
.number {
    background-color: black;
}
.number h5 {
    color: black;
    font-weight: bold;
}
.number .counter {
    color: #dc4f72;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 10px;
    font-size: 50px;
    padding-bottom: 5px;
}
.about .number .card-body {
    background-color: white;
}
/* WE ========================================================================= */
.we {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.33)), url(../image/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}
.we .text-left h4 {
    font-weight: bold;
}
.we .col-6{
    color: white;
    padding: 100px 0;
}
.we .col-6 p{
    color: white;
}
.we .col-6 button{
    color: black;
    background-color: white;
    padding: 20px 40px;
    border-radius: 6px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    border: #dae0e5;
}
.we .col-6 button:hover {
    background-color:#dae0e5;
}
.we .col-6 button:focus {
    background-color: #e2e6ea;
    border-color: #dae0e5;
    box-shadow: 0 0 0 0.2rem rgb(216 217 219 / 50%);
}
/* Solution ==================================================================== */
.solution .card-img-top{
    filter: grayscale(1);
    position: relative;
    border-radius: 6px 6px 0 0;
    width: 100%;
}
.solution .card-footer{
    background-color: transparent;
}
.solution .card-footer p {
    color: #dc4f72 ;
    margin-bottom: 0;
}
.solution .card .card-footer i{
    font-size: 60%;
}
.solution .card {
    border-radius: 6px;
    margin-top: 15px;
    border: 1px solid #eee;
    transition: all 0.3s ease-in;
}
.solution .card:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
    transform: translateY(-10px);
}
.solution .card:hover .card-img-top, .solution .card:hover .card-title {
    filter: grayscale(0);
    color: #dc4f72;
    cursor: pointer;
}
.solution .card:hover .card-footer i {
    transform: translateX(4px);    
}
.solution .card:hover .card-footer {
    cursor: pointer;
}
.btn:not(:disabled):not(.disabled) {
    cursor: auto;
}
.solution .btn {
    border-radius: 25px;
    border: transparent;
    font-weight: bold;
    font-size: 13px;
}
.solution .btn:focus{
    box-shadow: none;
}
.solution .btn-business {
    background: rgba(238, 97, 120, 0.2);
    color: #dc4f72;
}
.solution .btn-design {
    background: rgba(0, 128, 0, 0.2);
    color: #008000;
}
.solution .btn-industry {
    background: rgba(0, 0, 255, 0.2);
    color: #0000ff;
}
.solution .btn-date {
    background-color: #dc4f72;
    border-radius: 0 6px 0 0;
    padding: 10px 10px;
    text-align: center;
    color: white;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
}
.solution .card-deck .col-lg-4{
    padding: 0;
}
/* question ========================================================== */
.question .title {
    margin-top: 0;
    padding-top: 40px;
}
.question {
    background-color: #000000;
}
.question img {
    width: 100%;
    border-radius: 6px;
    transition: all 0.5s ease-in-out;
}
.question img:hover {
    transform: translateY(-16px);
    border-radius: 6px;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%)
}
.question .card-body summary{
    list-style: none;
}
details p {
    margin-bottom: 0;
}
/* details[open] p {
    content: "";
    transform: translateY(0px);
    transition: all 1s ease-in-out;
  } */
details[open] i {
  content: "";
  transform: rotateX(180deg);
}

.question .card-body details {
    border: 1px solid #eee;
    padding: 24px 45px 24px 10px;
    border-radius: 6px;
    background-color: white;
    position: relative;
}
.question .card-body summary .faq{
    margin-bottom: 0;
    position: relative;
}
.question .card-body summary i{
    position: absolute;
    top: 30px;
    right: 15px;
}
/* feature ============================================================= */
#myTab {
    border-bottom: none;
}
#myTab .nav-link{
    border-top: none;
    border-right: none;
    border-left: none;
    font-weight: bold;
    font-size: 22px;
    border-bottom: 2px solid;
    width: 100%;
    color: white;
}

@media only screen and (max-width: 768px){
    #myTab .nav-link {
        border: 1px solid black;
    }
    #myTab .nav-link.active {
        border: 1px solid black;
        background-color: #dae0e5;
        color: black;
    }
}

#myTab .nav-link.active {
    color: #dc4f72;
    background-color: black;
}
#myTabContent .card-body img {
    width: 100%;
    border-radius: 6px;
    transition: all 0.5s ease-in-out;
}
#myTabContent .card-body img:hover{
    transform: translateY(-10px);
}
#myTabContent .card-body .btn-primary {
    background-color: white;
    color: #dc4f72;
    border: 1px solid #dc4f72;
    padding: 20px 40px;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
}
#myTabContent .card-body .btn-primary:hover {
    background-color:#dc4f72;
    color: white;
}
#myTabContent .card-body .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgb(220 79 114 / 50%);
}

#accordionExample .card-body .btn-primary {
    background-color: white;
    color: #dc4f72;
    border: 1px solid #dc4f72;
    padding: 20px 40px;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
}
#accordionExample .card-body .btn-primary:hover {
    background-color:#dc4f72;
    color: white;
}
#accordionExample .card-body .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgb(220 79 114 / 50%);
}
#accordionExample .card-body img {
    width: 100%;
    border-radius: 6px;
    transition: all 0.5s ease-in-out;
}
#accordionExample .card-body img:hover{
    transform: translateY(-10px);
}
#accordionExample {
    display: none !important;
}
#accordionExample .card-header .btn{
    text-decoration: none;
    color: black;
    background-color: white;
}
#accordionExample .card-header .btn:hover{
    cursor: pointer;
    color: #dc4f72;
}
#accordionExample .card-header .btn:focus{
    box-shadow: none;
}
@media screen and (max-width: 768px){
    #accordionExample {
        display: block !important;
    }
    #accordionExample .card__border{
        border: 0.5px solid rgb(153, 153, 153);
    }
    #accordionExample .card__border .card-header{
        padding: 0;
    }
    #myTab, #myTabContent{
        display: none;
    }
}

/* client ============================================================== */
.client {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.77), rgba(0, 0, 0, 0.77)), url(../image/b2.jpg);
    background-size: cover;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.client .title {
    padding-top: 50px;
    padding-bottom: 40px;
}
.client .circle {
    width: 100px;
    height: 100px;
    display: inline-block;
    overflow: hidden;
    background: #f3f6f9;
    border-radius: 50%;
    border: 3px solid #dc4f72;
}
.client .slider-info{
    max-width: 95%;
    margin: 0 auto;
    padding: 2rem;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 50px;
    background-color: #fff;
    border-radius: 6px;
}
.client .message {
    position: relative;
}
.client .message i {
    font-size: 30px;
    color: #2C3038;
    opacity: 0.2;
    position: absolute;
    top: 0px;
    left: -40px;
    right: 0;
}
.client .name h4{
    color: #dc4f72;
}
.owl-carousel{
    padding-bottom: 50px;
}
.owl-carousel .owl-nav button {
    position: absolute;
    top: 50%;
    color: #fff;
    margin: 0;
    transition: all 0.3s ease-in-out;
  }
  .owl-carousel  .owl-nav button.owl-prev {
    left: 0;
    opacity: 0;
  }
  .owl-carousel .owl-nav button.owl-next {
    right: 0;
    opacity: 0;
  }
  .owl-carousel .owl-dots {
    text-align: center;
    padding-top: 15px;
  }
  .owl-carousel  .owl-dots button.owl-dot {
    width: 35px;
    height: 5px;
    display: inline-block;
    background: #ccc;
    margin: 0 3px;
  }
  .owl-carousel  .owl-dots button.owl-dot.active {
    background-color:#dc4f72;
  }
  .owl-carousel .owl-dots button.owl-dot:focus {
    outline: none;
  }
  .owl-carousel  .owl-nav button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: rgba(255, 255, 255, 0.38);
  } 
  .owl-carousel .owl-nav button:focus {
      outline: none;
  }
/* ready ==================================================================== */
.ready {
    margin-bottom: 50px;
}

.ready .button .btn-demo {
    font-weight: bold;
    background-color: white;
    color: #dc4f72;
    border-color:#dc4f72;
    transition: all 0.5s ease-in-out;
    padding: 15px 30px;
}
.ready .button .btn-demo:hover {
    background-color: #dc4f72;
    color: white;
    cursor: pointer;
}
.ready .button .btn-demo:focus {
    box-shadow: 0 0 0 0.2rem rgb(220 79 114 / 50%);
}
.ready .button .btn-started {
    font-weight: bold;
    background-color:#dc4f72;
    border-color:#dc4f72;
    transition: all 0.5s ease-in-out;
    padding: 15px 30px;
}

.ready .button .btn-started:hover {
    background-color:#dc4f4f;
    cursor: pointer;
}
.ready .button .btn-started:focus {
    box-shadow: 0 0 0 0.2rem rgb(220 79 114 / 50%);
}
.ready .btn-primary:not(:disabled):not(.disabled):active {
    background-color: #dc4f72;
    border-color: #dc4f72;
    box-shadow: 0 0 0 0.2rem rgba(255, 38, 38, 0.5);
}
/* footer ==================================================================== */
.footer {
    background-color: black;
    padding: 50px 0;
}
.footer .row h3 {
    font-size: 20px;
    line-height: 25px;
    color: white;
    margin-bottom: 30px;
    font-weight: 700;
}
.footer .footer-gd-16 li {
    list-style: none;
    margin: 10px 0;
}
.footer .footer-gd-16 a {
    text-decoration: none;
    color: white;
    line-height: 25px;
    padding: 0;
}
.footer .footer-gd-16 a:hover {
    color: #dc4f72;
}
.footer .end-column {
    background-color: #fff;
    padding: 2em;
    border-radius: 6px;
    box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
}
input[type="email"] {
    background:#F7F9FC;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    outline: none;
    width: 78%;
    color: #2C3038;
    font-weight: 600;
    border-radius: 6px;
}
.subscribe button {
    text-align: center;
    background:#dc4f72;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 20px;
    cursor: pointer;
    width: 20%;
    color: #fff;
    border-radius: 6px;
}
.footer .end-column h4 {
    font-size: 18px;
    line-height: 25px;
    color: #2C3038;
    margin-bottom: 30px;
    font-weight: 500;
}
.footer .end-column p {
    line-height: 22px;
    color: #5a5a5a;
    font-size: 16px;
}
.footer .below-section {
    border-top: 1px solid #eaeaea;
}
.footer .social li {
    list-style: none;
    margin-right: 5px;
    display: inline;
}
.footer .social li a span{
    color: white;
    padding: 0 10px;
}
@media screen and (max-width: 991px){
    .footer .below-section {
        display: block !important;
    }
}
@media only screen and (max-width: 991px){
    .footer .columns-2{
        text-align: center;
    }
}
/* BACK TO TOP =============================================================== */
.backToTop {
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 60px;
    background-color:#dc4f72;
    color: white;
    display: block;
    font-size: 1.5rem;
    /* cài đặt vị trí cố định theo body */
    position: fixed;
    right: 15px;
    bottom: 15px;

    /* ẩn nút back to top */
    visibility: hidden;
    opacity: 0;
}
.backToTop:hover {
    color: white;
}
/* hiện nút back to top */
.cd-top--is-visible {
    /* back-to-top button visible */
    /* visibility: ngăn thao tác bàn phím của người dùng */
    visibility: visible;
    opacity: 1;
}